# Java
*.class
*.jar
*.war
*.log

# Compiled files and build directories
/target/
/build/

# Maven and Gradle
!.mvn/wrapper/maven-wrapper.jar
.mvn/
.gradle/
build/
out/

# IDEs
# IntelliJ
.idea/
*.iml

# Eclipse
*.classpath
*.project
*.settings/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Minecraft Plugin Development
/plugins/ # ignore compiled plugins copied into test servers
/testserver/ # if you have a local testing server setup
*.yml~     # backup YAMLs from editing